html{
    background: url("background.jpg") no-repeat;
	background-size: cover;
    min-height: 100%;
}

body{
    background:none;
}

#advanced-search-form{
    background-color: #fff;
    max-width: 800px;
    margin: 160px auto 0;
    padding: 40px;
    color: #858b8e;
    box-shadow: 6px 6px 6px rgba(0,0,0,0.2);
}

#advanced-search-form h2{
    padding-bottom: 20px;
    margin: 10px 20px;
    font-size: 24px;
}

#advanced-search-form hr{
    margin-top: 38px;
    margin-bottom: 54px;
    margin-left:3px;
    border: 1px solid #cccccc;

}

#advanced-search-form .form-group{
	margin-bottom: 20px;
    margin-left:20px;
	width: 30%;
    float:left;
    text-align: left;
}

#advanced-search-form .form-control{
    padding: 12px 20px;
    height: auto;
    border-radius: 2px;
}

#advanced-search-form .radio-inline{
    margin-left: 10px;
    margin-right: 10px;
}



#advanced-search-form .btn{
    width: 46%;
    margin: 20px auto 0;
    display: block;
    outline: none;
}

@media screen and (max-width: 800px){
    #advanced-search-form .form-group{
        width: 45%;
    }

    #advanced-search-form{
        margin-top: 0;
    }
}

@media screen and (max-width: 560px){
    #advanced-search-form .form-group{
        width: 100%;
        margin-left: 0;
    }

    #advanced-search-form h2{
        text-align: center;
    }
}


/*Check box*/
input[type="checkbox"] + .label-text:before{
	content: "\f096";
	font-family: "FontAwesome";
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing:antialiased;
	width: 1em;
	display: inline-block;
	margin-right: 5px;
}

input[type="checkbox"]:checked + .label-text:before{
	content: "\f14a";
	color: #2980b9;
	animation: effect 250ms ease-in;
}

input[type="checkbox"]:disabled + .label-text{
	color: #aaa;
}

input[type="checkbox"]:disabled + .label-text:before{
	content: "\f0c8";
	color: #ccc;
}
/*
    labesl_Filtros
*/
.labels-align{
    text-align:center;
    font-size: 18px;
    text-decoration-style: solid;

}
.labels-align-forGroup{
    font-size: 15px;
}
/*Rdios*/
.radiotextsty {
    color: #A5A4BF;
    font-size: 15px;
  }
  
  .customradio {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 0px;
    cursor: pointer;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default radio button */
  .customradio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    width: 22px;
    background-color: white;
    border-radius: 50%;
    border:1px solid #BEBEBE;
  }
  
  /* On mouse-over, add a grey background color */
  .customradio:hover input ~ .checkmark {
    background-color: transparent;
  }
  
  /* When the radio button is checked, add a blue background */
  .customradio input:checked ~ .checkmark {
    background-color: white;
    border:1px solid #BEBEBE;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .customradio input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .customradio .checkmark:after {
    top: 2px;
    left: 2px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background:lightslategrey;
  }
 
  /*SEARCH*/
  .main {
    width: 50%;
    margin: 50px auto;
}

/* Bootstrap 4 text input with search icon */

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}
  
td.link {
    cursor: pointer;
   }

/*Elementos de SIDEBAR*/

  
  #sidebar-wrapper .list-group {
    width: 15rem;
    
  }
  
  @media (min-width: 10px) {
    #sidebar-wrapper {
      margin-left: 0;    
    }
}

.bg-light {
    background-color: #F2F2F2!important;
}

.list-group-item-action {
    width: 100%!important; 
    color: #495057!important;
    text-align: inherit!important;
    font-size: 15px!important;
}

a.bg-light:focus, a.bg-light:hover, button.bg-light:focus, button.bg-light:hover {
    background-color: #E6E6E6!important;
    cursor: default;
}

/*Estilos Input Labels*/

.labels-styles{
    font-size: 13px; 
    font-family: Arial, sans-serif;
}
.iputs-styles{
    height: 29px;
    margin: 0px;

}
.card-styles{
    background: #BDBDBD;
    height: 43px;
    color:white;
    font-size: 18px;    
}

/*Styles html*/
.fakeimg {
    height: 200px;
    background: #aaa;
  }

  body{
      font-size: 13px;
  }

  .even{
      background: #EEEEEE;
  }

  tbody tr:hover {
    background-color: #E0F2F7;
  }
/*Syles Botons Update/Clean*/
.styles-bottons-update-clean{
    background:#0431B4;
    color:white;
}
/*Styles label Desarrollo*/
.style-labelDesa{
    position: relative;
    color:white; 
    font-size: 14px;
    margin:20px;
    top: 5px;
}
#style-Buttons-Update{
    position: relative;
    height: 30px;
    margin:auto;
    top: 3px;
    font-size: 13px; 
    padding-top: 0.5%;    
}
#style-button-Clean{
    position: relative;
    height: 30px;
    margin:auto;
    top: 3px;
    font-size: 13px; 
    padding-top: 0.5%;
    width: 100px;
}
#form-search-botton{
    margin-top: 15px;
}
#button-search{
    /*background:#0431B4;*/
    background: #FBF8EF;
}

.style-table-tramites{
    width:100%;
    border: solid 1px #EEEEEE; 
    color: grey 
}

thead{
    text-align: center;
    color: gray;   
}
tbody{
    color: black;
}
.style-origen-table{
    background-color: #0063B2;
    color:#FFFFFF;
    margin: 5px
}
tr{
    text-align: center;
    border: solid 1px #EEEEEE
}

/*Estilos de CARD WorkFlow*/
.style-card{
    position: absolute; 
    top: 10px;
    margin: 3px;

}

#style-Buttons-Enviar{
    position: relative;
    height: 30px;
    width: 80px;
    margin:auto;
    top: 3px;
    font-size: 13px; 
    padding-top: 0.5%;    
}
/*Estilos Numeros FACTA*/
.estyles-numbersFacta{
    text-align: center;
    position: relative;
    top:20px;
    color: gray;
}
/*Estilo Headers Facta*/
.style-FactaNacCiud{
    color: gray;
    font-size: 20px;
}

#style-Buttons-search{
    position: relative;
    height: 30px;
    margin:auto;
    top: 3px;
    font-size: 13px; 
    padding-top: 0.5%;    
}

/*Estilos Header Filtros de busqueda*/
#style-filters-search{
    border: 0px;
    background: #F2F2F2; 
    color: gray; 
    font-family: Arial, Helvetica;
}

/*Estilos de Card por Taps*/
.styles-card-taps{
    height:50px; 
    background: #F2F2F2;
}

.style_Color_Secction{
    color: #6E6E6E;
}